# TYPE  DATABASE        USER            ADDRESS                 METHOD

{% for connection in postgresql_pg_hba_default %}
# {{ connection.comment }}
{{ connection.type }}	{{ connection.database }}		{{ connection.role }}		{{ connection.address }}		{{ connection.method }}
{% endfor %}

{% if ansible_default_ipv4.address in groups['pgmaster'] %}
{% for slave in groups['pgslaves'] %}
host	replication		{{ postgresql_streaming_user.name }}		{{ hostvars[slave]['ansible_default_ipv4']['address'] }}/32		{{ postgresql_default_ipv4_auth_method }}
{% endfor %}
{% endif %}

{% if ansible_default_ipv4.address in groups['pgslaves'] %}
host    replication             {{ postgresql_streaming_user.name }}            {{ hostvars[groups['pgmaster'][0]]['ansible_default_ipv4']['address'] }}/32             {{ postgresql_default_ipv4_auth_method }}
{% endif %}


# Custom
#{% for connection in postgresql_pg_hba_custom %}
#{{ connection.type }}	{{ connection.database }}		{{ connection.role }}		{{ connection.address }}		{{ connection.method }}
#{% endfor %}
