standby_mode='on'
primary_conninfo='host={{ pg_master_host_ip }} port=5432 user=repuser password={{ lookup('password','credentials/' + groups[pg_master_host_ansible_name][0] + '/pgsql_repuser_password length=32 chars=hexdigits') }}'
trigger_file='/home/postgres/pgsql.failover.trigger'
